a:link, a:visited {
  background-color: #dd1a0c17;
  color: rgb(0, 0, 0);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgba(255, 0, 0, 0.37);
}